@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --backgroundColor: #202020;
    --colorPrincipal: #7c3aed;
    --colorPrincipalHover: #7c3aed9a;

    --navTeste: #a2e635;
    --mainTeste: #22d3ee;
}

.mobile-menu,.desktop-menu{
    background: var(--navTeste);
}
nav.desktop-menu{
    transition: .5s;
}
.main-content{
    background: var(--mainTeste);
}
.button{
    font-size: 24px;
    cursor: pointer;
    width: 32px;
}
