@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --backgroundDark: #202020;
}
body{
    background-color: var(--backgroundDark);
    height: 1000px;
}
nav.sidebar{
    background: var(--backgroundDark);
    width: var(--sideBarMaxWidth);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    box-shadow: 5px 0 #7c3aed;
    transition: .5s;
    position: fixed;
}
nav.sidebar.SizeToggle{
    width: var(--sideBarMinWidth);
}
.sidebar ul{
    display: flex;
    flex-direction: column;
}
.sidebar ul li{
    list-style-type: none;
    padding: 20px;
    transition: .2s;
    font-size: 19px;
}
.sidebar ul li a{
    text-decoration: none;
    color: #FFF;
    display: flex;
}
.itemMenu a i{ 
    padding-right: 15px;
}
.ativo{
    background: #7c3aed;
}
.btn-SizeToggle{
    margin: 18px;
}
.btn-SizeToggle>i{
    color: #FFF;   
    font-size: 24px;
    cursor: pointer;
}
.itemMenu:hover{
    background: #7c3aed9a;
}
main{
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    transition: .5s ease;
    position: relative;
    padding: 10px;
}


